.card {
  padding: 30px 12px;
  width: 300px;
  height: 300px;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.card-light {
  background-color: rgba(80, 33, 69, 0.9);
}

.card-dark {
  background-color: #6c5ce74d;
}
.card:hover {
  cursor: pointer;
}

.title {
  color: white;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.icon {
  position: relative;
  width: 99px;
  height: 95px;
}
