.card {
  width: 300px;
  height: 300px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 30px 20px;
}

.card-light {
  background-color: rgb(80, 33, 69, 0.8);
}

.card-dark {
  background-color: #6c5ce74d;
}
.card:hover {
  cursor: pointer;
}

.info {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
}
