.card {
  width: 300px;
  height: 300px;
  border-radius: 25px;
  padding: 20px;
  background-color: rgba(75, 75, 75, 0.8);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: 0.3s;
  gap: 20px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bookTitle {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.bookAuthor {
  color: #fff;
  font-size: 14px;
  font-style: italic;
}

.booksContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow: scroll;
}

.imageWrapper {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
}

.block {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background-color: #cac0ef;
}
