.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

div>.title {
  color: white;
  font-size: 60px;
  font-weight: 700;
}

div>.subtitle {
  color: white;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}



.rate {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

div>.annotation {
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}

.switchContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 900px;
  gap: 20px;
}