.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  width: 100%;
}

.glass {
  padding: 100px 10px 70px;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  margin: 50px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
}

.title {
  font-size: 80px;
  font-weight: 700;
  color: white;
}

.loginButton {
  width: fit-content;
  padding: 5px 28px;
  color: white;
  font-size: 24px;
  border-radius: 20px;
  background-color: rgba(255, 255, 2550, 0.6);
  border: 2px solid transparent;
}

.input {
  padding: 10px 28px;
  width: 250px;
  height: 28px;
  border-radius: 20px;
  background-color: rgba(255, 255, 2550, 0.6);
  border: 2px solid transparent;
  font-size: 18px;
  color: white;
  transition: .3s all;
}

.input:focus {
  outline: none;
  border: 2px solid white;
}

.input::placeholder {
  color: rgba(255, 255, 2550, 0.6);
  font-size: 18px;
}

.bottomContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.signUpButton {
  width: fit-content;
  padding: 5px 28px;
  font-size: 24px;
  border-radius: 20px;
  color: rgba(80, 33, 69, 0.7);
  background-color: rgba(255, 255, 2550, 0.6);
  border: 2px solid transparent;
}

.tip {
  color: white;
  font-size: 16px;
}
