.page {
  display: flex;
  gap: 34px;
}

.page-dark {
  background-color: blue;
}

.page-light {
  background-color: pink;
}

.pageContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.mainContent {
  display: flex;
  gap: 45px 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}
