.page {
  display: flex;
  gap: 34px;
}

.pageContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.wrap {
  display: flex;
  gap: 10px;
}

.pageTitle {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
}

.formTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 80px;
  background-color: rgb(43, 19, 19, 0.8);
  border-radius: 25px;
}

.challenge {
  display: flex;
  flex-direction: column;
  background-color: rgb(43, 19, 19, 0.8);
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.challenge-light {
  background-color: rgb(43, 19, 19, 0.8);
}

.challenge-dark {
  background-color: #fab1a066;
}

.mainContent {
  width: 100%;
}

.formHeaders {
  font-size: 32px;
  padding: 16px;
  color: #ffffff;
  font-weight: 700;
}

.consistency {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
}

.bookInfo {
  gap: 100px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}
.infoContainer {
  display: flex;
  gap: 70px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.challengeSendButton {
  border-radius: 25px;
  background-color: #dda3c899;
  border: none;
  padding: 10px;
  width: 160px;
  height: 50px;
  color: #ffffff;
  font-weight: 700;
  border-color: none;
}

.challengeSendButton:hover {
  cursor: pointer;
  background-color: #dda3c8;
}

.friendChallenge {
  max-width: 250px;
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border-radius: 25px;
}

.friendChallenge-light {
  background-color: rgb(43, 19, 19, 0.5);
}


.friendChallenge-dark {
  background-color: #fab1a066;
}

.friendChallengeRating {
  font-size: 40px;
  color: white;
  font-weight: 700;
}

.friendChallengeWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 12px;
  border-radius: 16px;
  background-color: #dda3c899;
}

.myFriendChallengeWrap {
  background-color: rgba(245, 202, 123, 0.7);
}

.friendChallengeText {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.friendChallengeTextBold {
  color: white;
  font-size: 16px;
  font-weight: 700;
}
