.page {
  display: flex;
  gap: 34px;
}

.pageContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.mainContent {
  display: flex;
  gap: 45px 50px;
  flex-wrap: wrap;
}

.pageTitle {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
}

div.tabsWrapper {
  padding: 10px 0px;
  display: flex;
  gap: 20px;
  border-radius: 25px;
  overflow: scroll;
  scrollbar-width: none;
}

div.tab {
  padding: 16px 18px;
  border-radius: 25px;
  background: rgba(89, 98, 117, 0.8);
  transition: 0.3s;
}

div>.tab:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
}

div.tab.selected {
  background: rgba(0, 0, 0, 0.8);
}

div.tabTitle {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

div.quote {
  padding: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 25px;
  background-color: rgb(31, 27, 27, 0.7);
  transition: 0.3s;
  border-color: rgb(31, 27, 27, 0.7);
  font-family: "Poppins", sans-serif;
}

h3>.title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  max-width: 600px;
}
p.description {
  color: #fff;
  font-size: 12px;
}

.modal {
  position: relative;
  max-width: 80%;
  top: 50%;
  left: 158px;
  transform: translate(0%, -50%);
  right: auto;
  bottom: auto;
}

.overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.895);
}
