.pageWrapper {
  position: relative;
  min-height: 100dvh;
  padding: 50px;

  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.pageWrapper-dark {
 background: linear-gradient(to bottom, #2d3436, #4d575a);
}

.pageWrapper-light {
  background-color: black;
}