.challenge {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 250px;
  padding: 10px;
}

.challenge-light {
  background-color: rgb(43, 19, 19, 0.8);
}

.challenge-dark {
  background-color: #fab1a066;
}

.formTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 80px;
  background-color: rgb(43, 19, 19, 0.8);
  border-radius: 25px;
}

.bookNumber {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255, 0.8);
}
.titleOfForm {
  padding: 20px;
}
.formHeaders {
  font-size: 28px;
  color: #ffffff;
  font-weight: 700;
}

.formInfo {
  display: flex;
  gap: 20px;
}

.numberInput {
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 5px;
  height: 35px;
  width: 290px;
  margin-top: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
.challengeForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
 
}
.challengeSendButton {
  border-radius: 25px;
  background-color: #dda3c899;
  border: none;
  padding: 10px;
  width: 160px;
  height: 50px;
  color: #ffffff;
  font-weight: 700;
  border-color: none;
}

.challengeSendButton:hover {
  cursor: pointer;
  background-color: #dda3c8;
}
