.rate {
    width: 315px;
    height: 65px;
    position: relative;
    display: flex;
    background-color: rgba(225, 225, 255, 0.6);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
  
  .rateIcon {
    width: 30px;
    height: 27px;
    position: relative;
  }
  

